.navbar {
  width: 100%;
  height:6rem;
  background-color: grey;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container,
.checkbox-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkbox-container {
  margin: 1.5%;
}

form {
  display: flex;
}

.table-books {
  margin: auto;
  width: 50%;
}